<% if @patient.errors.any? %>
    <h4>
        <%= pluralize(@patient.errors.count, 'error') %>
        stopped us from saving the task:

        <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>

    </h4>
<% end %>