<h1>All The Patients</h1>

<table border="1">

    <tr>
        <th>Name</th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>



    <% @patients.each do |patient| %>
    <tr>
        <td><%= link_to patient.first_name, patient_path(patient) %></td>

        <td><a class="btn-floating btn-large red" href="<%= edit_patient_path(patient) %>">
                edit
            </a>
        </td>
        <td><a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= patient.first_name %>?" data-method="delete" href="/patients/<%= patient.id %>" rel="nofollow"><i class="large material-icons">Delete Patient</i>
            </a>
        </td>

    </tr>
    <%end%>


</table>