<h1>All the Patients</h1>
<table> 
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Diagnosis</th>
<th>Born On</th>
</tr>

<% @patients.each do |patients| %>
    <tr>
    <td><%= @patient.first_name %></td>
    <td><%= @patient.last_name %></td>
    <td><%= @patient.diagnosis %></td>
    </tr>
<% end %>
</table> 

