<h1>All the Patients</h1>

<table>
    <tr>First Name</tr>
    <% @patients.each do |patient| %>
    <tr>
    <td><%= link_to patient.first_name, patient_path(patient) %></td>
    </tr>

    <td> <%= link_to 'Edit', edit_patient_path(patient) %> </td>
    <td>   <%= link_to "Delete", patient, :method => :delete %></td>
    <%end%>


</table>