<h2> New patient </h2>

<% if @patient.errors.any?%>

<h3> You missing field! </3>
<h4> 
<%= pluralize(@patient.errors.count, 'error') %> <
stopped us from saving the task:
</h4>
<ul>
  <% @patient.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= render partial: 'form', locals: { patient: @patients } %>
