<h1>One Patient</h1>
<table> 

<% @patients.each do |patients| %>
    <tr>
    <td>First Name<%= @patient.first_name %></td>
    <td>Last Name<%= @patient.last_name %></td>
    <td>Diagnosis<%= @patient.diagnosis %></td>
    <td>Born On<%= @patient.born_on %></td>
    </tr>
<% end %>

</table> 