<h2>Patients</h2>


<div>
    Name : <%= @patient.first_name  %> <%=  @patient.last_name  %>
</div>
<div>
    Born on : <%= @patient.born_on  %>
</div>

<div>
    diagnosis : <%= @patient.diagnosis  %>
</div>