<h1>Patients Profile Details</h1>
<div>
First name: <%= @patient.first_name%>
</div>
<div>
Last name: <%= @patient.last_name %>
</div>
<div>
diagnosis: <%= @patient.diagnosis %>
</div>
<div>
born_on: <%= @patient.born_on %>
</div>

<div>

</div>