<h1>doctor Profile Details</h1>
<div>
name: <%= @doctor.name%>
</div>
<div>
family name: <%= @doctor.family_name %>
</div>
<div>
zip_code: <%= @doctor.zip_code %>
</div>
<div>
specialty: <%= @doctor.specialty %>
</div>