<h2>One Doctor</h2>
<div>
First Name : <%= @doctor.first_name  %> 
</div>
<div>
Last Name : <%= @doctor.last_name  %>
</div>
<div>
    zip code : <%= @doctor.zip_code  %>
</div>
<div>
    specialty : <%= @doctor.specialty  %>
</div>
