<h1>Show Patient information</h1>

<div>
 First Name : <%=  @patient.first_name  %>
 </div>

 <div>
 Last Name : <%=  @patient.last_name  %>
  </div>

  <div>
 Diagnosis : <%= @patient.diagnosis%>
  </div>
  <div>
 Birthday : <%= @patient.born_on%>
  </div>
  
  