<h2> All Patients</h2>
<%= @patients.each do |patient|%>
<div>
<%=link_to patient.first_name ,patient%>
<%=link_to 'Destroy' ,patient_path(patient) ,method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
<%end %>