<h2> Patient </h1>
<div>
First_name: <%= @patient.first_name %>
</div>
<div>
Last_name: <%= @patient.last_name %>
</div>
<div>
Diagnosis: <%= @patient.diagnosis %>
</div>
<div>
Born_on: <%= @patient.born_on %>
</div>
