<h2> Show  </h2>
<div>
First Name : <%= @patient.first_name %>
</div>
<div>
Last Name : <%= @patient.last_name %>
</div>
<div>
Diagnosis : <%= @patient.diagnosis %>
</div>
<div>
Born : <%= @patient.born_on %>
</div>
