<h2>Patient</h2>

<div>
Name: <%= @patient.first_name %> 
 <%= @patient.last_name %> 
</div>

<div>
Date_of_Birth: <%= @patient.born_on %>
</div>

<div>
Diagnosis: <%= @patient.diagnosis %>
</div>