<h2>Show Patient</h2>
<div>
First Name: <%= @patient.first_name%>
</div>

<div>
Last Name: <%= @patient.last_name%>
</div>
<div>
Diagnosis: <%= @patient.diagnosis%>
</div>
<div>
Born on: <%= @patient.born_on%>
</div>
