<h2> Doctor </h1>
<div>
Doctor_name: <%= @doctor.doctor_name %>
</div>
<div>
Family_name: <%= @doctor.family_name %>
</div>
<div>
Specialty: <%= @doctor.specialty %>
</div>
<div>
Zip_code: <%= @doctor.zip_code%>
</div>
<div>