<h1> Show Doctors</h1>
<div>
First Name: <%= @doctor.first_name%>
</div>

<div>
Last Name: <%= @doctor.last_name%>
</div>

<div>
Specialty: <%= @doctor.specialty%>
</div>

<div>
Zip Code: <%= @doctor.zip_code%>
</div>
