<h1> Show Doctors</h1>
<div>
First Name: <%= @doctor.name%>
</div>

<div>
Last Name: <%= @doctor.family_name%>
</div>

<div>
Specialty: <%= @doctor.specialty%>
</div>

<div>
Zip Code: <%= @doctor.zip_code%>
</div>
