<h2>Patient </h2>

<div>First Name: <%= @patient.first_name %>
</div>
<div>Last Name: <%= @patient.last_name %>
</div>
<div>Diagnosis: <%=  @patient.diagnosis %>
</div>
<div>born_on: <%= @patient.born_on %>
</div>
