<h2>All Patient </h2>
<% @patient.each do |patient| %>
  <div>
	<%= patient.first_name %>
  </div>


<div>
  <%= patient.last_name %>
</div>


<div>
diagnosis : <%= @patient.diagnosis %>
</div>




<% end %>